.loginContainer {
    height: 100vh;
  background: linear-gradient(
      rgba(139, 128, 78, 0.5),
      rgba(114, 114, 101, 0.5)
    ),
    url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      left;

  .content {
    margin: 60px 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 40px;
      text-align: center;
      color: white;
    }

    .desc {
      font-size: 20px;
      text-align: center;
      color: white;
    }

    form {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            width: 250px;
            padding: 10px;
            margin: 10px 0;
            border: none;
        }

        .cardBtn {
            margin-top: 15px;
            width: 45%;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: red;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            letter-spacing: 1px;
            cursor: pointer;
        }

        span {
          margin-top: 10px;
          align-self: start;
          color: white;
          
        }
    }
  }
}
