.wrapper {
    h1 {
        margin-top: 50px;
        text-align: center;
    }
    .productsContainer {
        margin-top: 20px;
        margin-left: 40px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }

}



